.slidersidebardetail {
    display: flex !important;
    margin-bottom: 50px;
}

.slidersidebardetail .table{
    margin-top: 40px;
    margin-right: 90px !important;
}
.slidersidebardetail img {
    height: 200px;
    width: 300px;
}
.slidersidebardetail table {
    border: 0px solid #C1DAD7;
}
.slidersidebardetail img{
    height: auto;
    object-fit: cover;
    width: 40%;
}

.slidersidebardetail .text{
    margin-top: 25px;
}

.slidersidebardetail .btn1{
    background-color: rgb(220, 216, 216) !important;
    color: #333;
}

.slidersidebardetail .btn2{
    color: #fff;
    background-color:#333 !important;
}

.slidersidebardetail .btnn{
    margin-top: 20px;
    
}